{% load static %}
<!DOCTYPE html>
<html lang="en"></html>
<head>
	<meta charset="UTF-8"/>
	<title>Фабрика Фасадов | Все наши работы</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap-grid-3.3.1.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'libs/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
	<link href="{% static 'libs/owl-carousel/owl.carousel.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/fonts.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/normalize.css' %}" rel="stylesheet"/>
	<link href="{% static 'libs/jquery-nice-select-1.1.0/css/nice-select.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/main.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/media.css' %}" rel="stylesheet"/>
</head>
<body>
	<header>
		<div class="container">
			<div class="head-flex">
				<div class="head-left clearfix"><a href="/"><img src="{% static 'img/logo.png' %}"/></a>
					<h2>Изделия для вашего интерьера<br>Подбор, изготовление, установка</h2>
				</div>
				<div class="head-right clearfix">
					<button class="callback">Заказать звонок</button>
					<p><span>Есть вопросы?<br></span>+7 (812) 213-21-22</p>
				</div>
			</div>
		</div>
		<nav>
			<div class="container"><img src="{% static 'img/burger.png' %}" class="burger-menu xs-mob"/>
				<ul>
					<li><a id="a1" href="">Готовые изделия</a></li>
					<li><a id="a2" href="">О компании</a></li>
					<li><a id="a3" href="">Услуги</a></li>
					<li><a id="a4" href="">Каталог</a></li>
					<li><a id="a5" href="">Наше производство</a></li>
					<li><a id="a6" href="">Отзывы</a></li>
					<li><a id="a7" href="">Контакты</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<section class="main-menu">
		<div class="container">
			<h2>Торгово-производственное предприятие «Фабрика Фасадов»</h2>
			<p>Изготовление комплектующих для мебели и предметов интерьера, полный цикл работ, замер доставка установка</p>
			<div class="main-menu__block clearfix">
                {% for category in categories %}
                <a href="{% url 'category' category.url_pretty %}" class="main-menu__item">
                    <img src="{{ category.categoryindeximg_set.first.img.url }}"/>
					<h3>{{ category.index_title }}</h3>
					<div class="main-item__detail">
                        <span>Узнать подробнее</span>
                        <img src="{% static 'img/zoom.png' %}"/>
                    </div>
                </a>
                {% endfor %}
            </div>
		</div>
	</section>
	<section class="product">
		<div class="product-img-wrap"><img src="{% static 'img/pr.png' %}"/></div>
		<div class="container">
			<h2>Ознакомьтесь с нашим производством</h2>
			<div class="product-block clearfix">
				<div class="product-block__text">
					<h4>Опыт работы</h4>
					<p>Все работники цеха, мастера 3 и 4 разряда с опытом работы в нашей компании, более 5 лет.</p>
					<h4>Оборудование</h4>
					<p>Более 1000 м² складских территорий, отлаженная логистика и современный парк оборудования - это гарантия того, что Вы получите изделия хорошего качества.</p>
					<h4>Компетентные сотрудники</h4>
					<p>Мы дорожим Вашим доверием и своей репутацией, поэтому от консультации и замера, до изготовления и установки  изделий у Вас дома, Вас будут обслуживать вежливые и грамотные специалисты.</p>
				</div>
				<div class="product-video"><img src="{% static 'img/video.png' %}" class="video-layer"/><img src="{% static 'img/play-btn.png' %}" class="video-play"/></div>
			</div>
		</div>
	</section>
	<section class="profits">
		<div class="container">
			<h2><span>Почему стоит заказать изделия у нас?</span></h2>
			<div class="profits-flex">
                {% for advance in advances %}
				<div class="profits-item">
					<h4>{{ advance.title }}</h4>
					<div class="line"></div>
					<p>{{ advance.text|safe }}</p>
				</div>
                {% endfor %}
			</div>
		</div>
	</section>
	<section class="consultation">
		<div class="consultation__img-wrap"><img src="{% static 'img/cons.png' %}"/></div>
		<div class="container">
			<div class="consultation__form">
				<h2>Закажите бесплатную консультацию<br>нашего специалиста</h2>
				<div class="line"></div>
				<p>Закажите консультацию специалиста</p>
				<ul>
					<li>Произведёт точный рассчёт стоимости</li>
					<li>Подберёт лучший вариант изделия под ваш бюджет</li>
					<li>Сориентирует вас по подбору материалов, расскажет об их<br>достоинствах и недостатках</li>
				</ul>
				<form>
					<div class="half">
						<div>
							<label>Введите имя</label>
							<input type="text" name="name" required="required"/>
						</div>
						<div>
							<label>Введите телефон</label>
							<input type="text" name="phone" required="required"/>
						</div>
					</div>
					<label>Ваши пожелания</label>
					<textarea name="text"></textarea>
					<button>Заказать консультацию</button>
                    {% csrf_token %}
                    <input type="hidden" name="type" value="Заявка на бесплатную консультацию">
				</form>
			</div>
		</div>
	</section>
	<section class="replies">
		<h2>Главный показатель нашей работы это ваши благодарные отзывы!</h2>
		<div class="container">
			<div class="replies-slider">
				<div class="replies-container clearfix">
                    {% for reply in replies %}
					<div class="replies__item clearfix {% if forloop.first %}rep-current{% endif %}"
                         data-reply="{{ forloop.counter0 }}">
						<h4>{{ reply.reply.name|safe }}</h4>
						<div class="replies__item-img"><img src="{{ reply.img.url }}"/></div>
						<p>{{ reply.reply.text|safe }}</p>
						<button>Смотреть видеоотзыв</button>
					</div>
                    {% endfor %}
				</div>
				<div class="replies-nav clearfix">
                    {% for reply in replies %}
					<div class="replies-img-min" data-reply="{{ forloop.counter0 }}">
                        <img src="{{ reply.img.url }}"/>
                    </div>
                    {% endfor %}
					<div class="replies-arrows clearfix">
						<div class="rep-prev"><img src="{% static 'img/arr-prev.png' %}"/></div>
						<div class="rep-next"><img src="{% static 'img/arr-next.png' %}"/></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="map">
		<div class="map__block">
			<div class="container map__container">
				<div class="map__adress">
					<h3>Адрес офиса:</h3>
					<ul>
						<li>ул. Магнитогорская дом 17-21, центр мебельных комплектующих "Макмарт"</li>
					</ul><br/>
					<h3>Адреса филиала:</h3>
					<ul>
						<li>ул. Химиков дом 26, центр мебельных комплектующих Прогресс М</li>
					</ul><br/>
					<h3>Адреса производства:</h3>
					<ul>
						<li>Глухоозерское шоссе дом 12, территория "Завода "Молодой Ударник"</li>
					</ul><br/>
					<p>Телефон: +7 (812) 426-92-93 (многоканальный)<br>Отдел приема заказов: нажмите 2 (добавочный 101)<br>Факс: нажмите 1 (добавочный 102)<br>Почта: zakaz-od@mail.ru	</p>
				</div>
			</div>
			<div class="map__cont"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A661d9ea720de060c5ddb3d3b06d9dba747a322a33aa38e826c0fd1282ede1309&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script></div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="footer-flex">
				<div class="clearfix footer-left"><img src="{% static 'img/logo.png' %}" class="logo"/>
					<h4>Изделия для вашего интерьера<br>Подбор, изготовление, установка</h4>
				</div>
				<div class="clearfix footer-right">
					<p class="hrefs"><a href=''>© «Омега-Дизайн» 2017</a> <a href=''>Политика конфиденциальности</a></p>
					<p class="corp">Над структурой и дизайном работал <a href=''>Бояршинов Данил</a></p>
				</div>
			</div>
		</div>
	</footer>
	<div class="layer">
		<div class="popup-min callback-popup"><img src="{% static 'img/cross.png' %}" class="close"/>
			<h3>Заявка на обратный звонок</h3>
			<div class="line"></div>
			<p>Заполните поля ниже и наш специалист свяжется с вами в течение 10 минут.</p>
			<form>
				<input type="text" placeholder="Введите имя" name="name" required="required"/>
				<input type="text" placeholder="Введите телефон" name="phone" required="required"/>
				<textarea name="text" placeholder="Ваши комментарии"></textarea>
				<button>Заказать звонок</button>
                {% csrf_token %}
                <input type="hidden" name="type" value="Заявка на обратный звонок">
			</form>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{% static 'libs/scrollto/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'libs/owl-carousel/owl.carousel.js' %}"></script>
	<script src="{% static 'libs/jquery-nice-select-1.1.0/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/mask.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>